
aws/
Math_SQL_Queries/
mozilla/
load2SensorThing/

*.xlsx
Math_SQL_Queries.jar
cep/*
demo/*
.vscode/*
venv/*


**/__pycache__/


# MPS
GeDL/languages/GeDL.sandbox/
.DS_Store


# GEDsys
gedl-interpreter/config.env
