
aws/
Math_SQL_Queries/
mozilla/
load2SensorThing/

*.xlsx
Math_SQL_Queries.jar
cep/*
demo/*
.vscode/*
venv/*


**/__pycache__/


# MPS
GeDL/languages/GeDL/classes_gen/
GeDL/languages/GeDL/source_gen.caches/
# source_gen/
# source_gen.caches/
# test_gen/
# test_gen.caches/
GeDL/languages/GeDL.sandbox/

**/.mps/workspace.xml



# GEDsys
interpreter/config.env
*/dist/
**/.DS_Store
/playground

examples/updated_data/*
